.main-title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -70%);
	margin: 0;
	background: #444;
	color: #fff;
	font-size: 16px;
	padding: .5em 1em;
	border-radius: 5px;
}

.main-title__tooltip {
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.main-title::before {
	content: '';
	background: #444;
	position: absolute;
	top: 100%;
	width: 20px;
	height: 20px;
	left: 50%;
	border-radius: 3px;
	transform: translate(-50%, -16px) rotate(45deg);
	z-index: 1;
}

.main-title::after {
	content: '';
	background: url(../img/layout/caffeine-mug.svg) center center no-repeat;
	background-size: auto 20px;
	position: absolute;
	top: 100%;
	width: 22px;
	height: 20px;
	left: 50%;
	transform: translate(-44%, 12px);
	z-index: 1;
}
